.vp-doc th, .vp-doc td {
    font-size: 16px;
    border: unset;
    padding: unset;
}

.vp-doc table{
    display: block; 
    border-collapse: unset; 
    margin: unset; 
    overflow-x: unset; 
}

.el-table .cell{
    word-break: break-word;
}